{{- if eq .icon "linkedin" -}}
{{- partial "icons/linkedin.html" . -}}
{{- else if eq .icon "bluesky" -}}
{{- partial "icons/bluesky.html" . -}}
{{- else if eq .icon "x" -}}
{{- partial "icons/x.html" . -}}
{{- else if eq .icon "facebook" -}}
{{- partial "icons/facebook.html" . -}}
{{- else if eq .icon "github" -}}
{{- partial "icons/github.html" . -}}
{{- else if eq .icon "instagram" -}}
{{- partial "icons/instagram.html" . -}}
{{- else if eq .icon "rss" -}}
{{- partial "icons/rss.html" . -}}
{{- else if eq .icon "link" -}}
{{- partial "icons/link.html" . -}}
{{- else if eq .icon "share" -}}
{{- partial "icons/share.html" . -}}
{{- else if eq .icon "more" -}}
{{- partial "icons/more.html" . -}}
{{- end -}}
